*{
  box-sizing: border-box;
}
body{
  background-color: azure;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.app button{
  padding: 15px 30px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #045384;
}
.app button:hover{
  cursor: pointer;
  background-color: #064268;
  color: white;
  transition: 0.3s ease-in-out;
}

.timerdiv{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.75);
  padding: 20px;
  margin: 20px;
}
.timerdiv h1{
  margin: 0;
  font-size: 30px;
  text-align: center;
}
.timediv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.timediv p{
  margin: 20px;
}
.formatted-time{
  font-size: 50px;
}
.number{
  font-size: 100px;
}
.buttondiv{
  display: flex;
  justify-content: space-around;
}
.buttondiv button{
  padding: 20px 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  background: transparent;
}
#resetbutton{
  border: 2px solid orange;
}
#resetbutton:hover{
  background: orange;
  color: white;
  transition: 0.3s ease;
}
.buttondiv button:hover{
  cursor: pointer;
}

.timerdiv{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.75);
  padding: 20px;
  margin: 20px;
}
.timerdiv h1{
  margin: 0;
  font-size: 30px;
  text-align: center;
}
.timediv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.timediv p{
  margin: 20px;
}
.formatted-time{
  font-size: 50px;
}
.number{
  font-size: 100px;
}
.buttondiv{
  display: flex;
  justify-content: space-around;
}
.buttondiv button{
  padding: 20px 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  background: transparent;
}
#resetbutton{
  border: 2px solid orange;
}
#resetbutton:hover{
  background: orange;
  color: white;
  transition: 0.3s ease;
}
.buttondiv button:hover{
  cursor: pointer;
} */
.weatherReport{
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.75);
  margin-top: 20px;
}
.weatherReportTop{
  border-radius: 10px 10px 0 0;
  padding: 20px;
}
.weatherReportTop h1{
  margin-top: 0;
  text-align: center;
}
.weatherPosition{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.weatherReportBottom{
  background-color: #588157;
  color: white;
  padding: 20px;
  border-radius: 0 0 45px 45px;
}
.weatherInfoBasic{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weatherInfoTitle{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px; 
  margin-bottom: 0px;
}
.weatherInfoBasicTitle{
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.weatherInfoBasicTitle p{
  font-size: 16px;
}
.tempTime{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.formNDisplay{
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.line{
  border: 2px solid #e76f51;
  margin-left: 10rem;
}
.formContainer{
  background-color:cadetblue;
  padding: 20px;
  border-radius: 5px;
  width: fit-content;
  margin-left: 5rem;
}
.formContainer h1{
  margin-top: 0;
  text-align: center;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}
.form label{
  display: flex;
  align-items: center;
  gap: 5px;
}
.form input{
  padding: 10px 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
}
.form h3{
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}
.formElements{
  display: flex;
  flex-direction: column;
}
.formElements span{
  font-size: 16px;
  font-weight: 600;
}
.activityDiv{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.textareaLabel{
  align-items: flex-start !important;
}
.textareaLabel textarea{
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 5px;
  border: none;
  outline: none;
}
.form button{
  padding: 10px 50px;
  border-radius: 5px;
  background-color: transparent;
}
.form button:hover{
  cursor: pointer;
  color: white;
  transition: 0.3s ease-in-out;
}
.addBtn{
  border: 2px solid #064268;
}
.addBtn:hover{
  background-color: #064268;

}
.submitBtn{
  border: 2px solid #096508;
}
.submitBtn:hover{
  background-color: #096508;
}
.displayDataContainer{
  width: 50vw;
  margin-left: 5rem;
}
.displayDataContainer p{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.activityInfoContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.activityInfo{
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  font-size: 16px;
  box-shadow: 0 0 10px 0px rgba(0,0,0,0.75);
}
.activityInfo p{
  text-align: start !important;
  font-size: 16px !important;
}
.defaultValue{
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  margin-left: 15rem;
}
span{
  color: #b90101;
}
.goback button{
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #045384;
}
.goback button:hover{
  cursor: pointer;
}
.goback button img{
  width: 25px;
  height: auto;
}